/* Body styles */
body {
    font-family: 'Rubik', sans-serif;
    text-align: justify;
}

h1,h2,h3,h4,h5 {
    font-family: 'Proza Libre', sans-serif;
    color: #1a81ad;
}

@media only screen and (max-width: 500px) {
    .main-content {
        margin-left: 5%;
        margin-right: 5%;
    }
}


/* Navbar */
.navbar-nav {
    margin-left: auto;
}

.nav-item {
    background-color: #27AAE1;
    border-radius: 1.8rem;
    margin-left: 1.5rem;
}

.nav-item-active {
    background-color: #1a81ad;
}

.nav-item:hover,.nav-item:active,.nav-item:focus {
    background-color: #1a81ad;
}

.nav-link {
    color: #ffffff !important;
    margin: auto 1rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 800px) {
    .nav-item {
        margin-top: 1%;
    }
}


/* Top heading */
.h1-top {
    margin-top: 2%;
}

@media only screen and (max-width: 900px)
{
    .h1-top {
        margin-top: 12%;
    }
}

@media only screen and (max-width: 500px)
{
    .h1-top {
        margin-top: 25%;
    }
}


/* Mail link */
.mail-lnk {
    text-decoration: none;
    color:  #4d69c7;
}


/* Main Content */
.head-p {
    font-size: 1.3rem;
}

.sub-head {
    margin-top: 3%;
}

.project-h {
    margin-top: 5%;
}

@media only screen and (max-width: 500px) {
    .project-h {
        margin-top: 15%;
    }
}


/* Table */
tr:hover {
    background-color: #55cbfd63 !important;
}

/*.table {
    width: 50%;
    align-items: center;
}

table {
    align-items: center;
    margin-left: 20%;
}

.sec-tb {
    padding-left: 10%;
}

@media screen and (max-width: 1024px) {
    .table {
     width: 100%;
    }
}*/

/* Footer */
footer {
    margin-top: 7% 0 0 0;
    color: #ffffff;
    padding: 1%;
    background-color: #5ec8f5;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: #ffffff00;
    border-radius: 7px;
}
  
::-webkit-scrollbar-thumb {
    background: #5ec8f5;
    height: 50px;
    border-radius: 7px;
}
  

::-webkit-scrollbar-thumb:hover {
    background: #1a81ad;
}


/* Scroll to top arrow */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #1a81ad;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #0c4d69;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Temporary Text */
.temp-container {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10%;
}

.temp-p {
    font-size: 1rem;
    color: rgba(19, 18, 18, 0.671);
}

@media only screen and (max-width: 850px) {
    .temp-container {
        margin-top: 28%;
    }
}